<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Angular Study</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div ng-view></div>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>

<!-- modules -->
<script src="js/modules/module.js"></script>

<!-- controlers -->
<script src="js/controllers/main.controller.js"></script>

<!-- directives -->
<script src="js/directives/main.directive.js"></script>

<!-- routes -->
<script src="js/routes/main.route.js"></script>

</body>
</html>